{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <title>Kuliah Django</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
    <div style="margin-left: 25px">
        <h1 style="font-family: 'Russo One'">Tugas 2</h1>
        <h2 style="font-family: 'Roboto Mono'">Done by nathannn</h2>
        <img src="{% static 'tangan.jpg' %}" width="250" height="300">
    </div>
</body>
</html>